@import "variables";

@mixin blue-border-wrapper {
  display: inline-flex;
  align-items: center;
  height: $default-line-height;
  border: 2px solid $blue;
  border-radius: 3px;
  padding: 5px;
  margin-left: 10px;
}
