@import "../../assets/style/variables";
@import "../../assets/style/mixins";

:host {
  .wrapper {
    display: block;
    padding: 15px;
  }

  .input-result {
    display: inline-block;
    @include blue-border-wrapper;
    &.invalid {
      border-color: $red;
    }
  }
}
