<div class="wrapper">
  <h1>Input indicator component</h1>
  <form class="input-form" [formGroup]="form">
    <label fxLayout="row" fxLayoutAlign="start center">
      <span class="no-wrap"> Input Value: </span>
      <input type="number" formControlName="inputValue" fxFlex>
    </label>
  </form>

  <div fxLayout="row" fxLayoutAlign="start center">
    <span class="no-wrap"> Rendered result: </span>
    <div class="input-result"
         [class.invalid]="form.get('inputValue').invalid"
         fxFlex>
      {{form.get('inputValue').value}}
    </div>
  </div>
</div>


