@import "../../assets/style/variables";
@import "../../assets/style/mixins";

:host {
  .wrapper {
    display: block;
    padding: 15px;
  }

  .input-result {
    &.invalid {
      border-color: $red;
    }
  }

  .input-form {
    margin-bottom: 15px;
    input {
      @include blue-border-wrapper;
      outline: none;
      font-size: 1em;
    }
    &.ng-invalid {
      input {
        border-color: $red;
      }
    }
  }
}
