@import "../../assets/style/variables";

:host {
  .wrapper {
    display: block;
    padding: 15px;
  }
  .current-temperature {
    margin-bottom: 15px;
    line-height: $default-line-height;
  }
  button {
    padding: 10px;
    margin-right: 10px;
  }
}
